<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllProgramsOpenFormSuit">
  <test name="AllPrograms">
        <packages>
            <package name="All_Programs" />
        </packages>
    </test>
    
</suite> <!-- AllProgramsOpenFormSuit -->
